{% extends "one-plugin-media/_layouts/settings" %}
{% set selectedSubnavItem = 'settings' %}
{% import "_includes/forms" as forms %}

{% set title = "General Settings"|t("one-plugin-media") %}

{% block content %}

<input name="action" type="hidden" value="one-plugin-media/settings/save-settings">
    {{ redirectInput('one-plugin-media/settings') }}
    {{ csrfInput() }}

    {{ forms.textField({
        first: true,
        class: "code",
        label: "Plugin Name"|t('one-plugin-media'),
        instructions: "Override the plugin name by specifying your own here."|t('one-plugin-media'),
        id: "pluginName",
        name: "settings[pluginName]",
        value: settings.pluginName,
        autofocus: true,
        errors: settings.getErrors("pluginName"),
    }) }}
    
<div class="matrixblock">
    <div class="titlebar" style="padding:5px 10px 5px 5px">
        <div class="blocktype"><strong>General Settings</strong></div>
        <div class="preview"></div>
    </div>
    {{ forms.lightswitchField({
        label: "Enable Caching"|t('one-plugin-media'),
        tip: "Enable this setting to cache output tags. (This will greatly improve the load time)"|t('one-plugin-media'),
        id: 'enableCache',
        name: 'settings[enableCache]',
        toggle: 'settings-enableCache',
        on: settings.enableCache,
        onLabel: "Enable."|t('one-plugin-media')
    }) }}
</div>

<div class="matrixblock">
    <div class="titlebar" style="padding:5px 10px 5px 5px">
        <div class="blocktype"><strong>SVG Icons - Default Colour Selection</strong><span class="info op-tooltip" style="vertical-align: middle !important;"><span class="tooltips">Select the default colour to prepopulate when you add a new Simple Vector Graphic (SVG) to your template.</span></span></div>
        <div class="preview"></div>
    </div>
    {{ forms.textField({
        label: 'Default Stroke Width(in %)',
        id: 'animatedicon-svg-stroke-width',
        name: 'settings[svgStrokeWidth]',
        value: settings.svgStrokeWidth,
        min: 1,
        max: 100,
        size: 1,
        type: 'number'
        })
    }}
    {{ forms.hidden({
        name: "settings[svgStrokeColor]",
        id: 'animatedicon-svg-color',
        value: settings.svgStrokeColor
    }) }}

    <div class="field">
        <div class="instructions" id="pluginName-instructions">
            <p>
                Default Stroke Color  <span class="info op-tooltip" style="vertical-align: middle !important;"><span class="tooltips">Select the line/stroke colour for to be pre-populated, site wide.</span></span>
            </p>
        </div>
        <div class="animatedicon-color">
            <button id="svg-stroke-color" class="option" style="background-color: {{settings.svgStrokeColor}};" type="button">
            </button>
        </div>
    </div>
</div>

<div class="matrixblock">
    <div class="titlebar" style="padding:5px 10px 5px 5px">
        <div class="blocktype"><strong>Image Optimization</strong></div>
        <div class="preview"></div>
    </div>
    
    {{ forms.lightswitchField({
        label: "Allow Upscaling"|t('one-plugin-media'),
        tip: "Enable to allow image upscaling, increasing image size may cause the image to appear low quality."|t('one-plugin-media'),
        id: 'opUpscale',
        name: 'settings[opUpscale]',
        toggle: 'settings-opUpscale',
        on: settings.opUpscale,
        onLabel: "Enable."|t('one-plugin-media')
    }) }}

    {% set formatOptions = [
        {label: 'Same as input', value: 'same'},
        {label: 'WEBP --> Supports transparency and compression', value: 'webp'},
        {label: 'JPEG --> Offers good compression', value: 'jpg'},
        {label: 'PNG --> Preserves transparency', value: 'png'},
    ] %}

    {{ forms.selectField({
        label: "Output File Type"|t('one-plugin-media'),
        instructions: "",
        id: 'outputFormat',
        name: 'settings[opOutputFormat]',
        options: formatOptions,
        value: settings.opOutputFormat,
        tip: "Select output file type to use for image optimization"|t('one-plugin-media')
    }) }}

    {% set tagOptions = [
        {label: 'PICTURE --> Ideal when Output File Type is webp', value: 'picture'},
        {label: 'IMG', value: 'img'}
    ] %}

    {{ forms.selectField({
        label: "Output Tag"|t('one-plugin-media'),
        instructions: "",
        id: 'opImageTag',
        name: 'settings[opImageTag]',
        options: tagOptions,
        value: settings.opImageTag,
        tip: " Picture tag - Supports multiple image srcsets. Multiple image source sets (srcsets) will ensure images are displayed correctly by providing a set of jPEG images for older versions of Safari."|t('one-plugin-media'),
        warning:'Webp is not supported by older versions of Safari. So if you have selected Output File Type as Webp, you should select PICTURE'
    }) }}
    
    {{ forms.editableTableField({
        label: "Profiles for Image Variants"|t('one-plugin-media'),
        instructions: "",
        id: 'profiles',
        name: 'settings[opImageVariants]',
        tip: "Specify the media break points to be used for generating optimized images. Image height will be calculated based on the aspect ratio."|t('one-plugin-media'),
        cols: {
            
            opWidth: {
                type: 'singleline',
                heading: "Width (in pixels)"|t('one-plugin-media'),
                info: "Only specify the width of the generated output image and the height will be caculated based on the aspect ratio."|t('one-plugin-media'),
                placeholder: "Width of the generated output image"|t('one-plugin-media'),
                code: false
            },
            opQuality: {
                type: 'singleline',
                heading: "Quality (in percentage)"|t('one-plugin-media'),
                info: "Quality in percentage of the generated image"|t('one-plugin-media'),
                code: false
            },
        }|filter,
        rows:settings.opImageVariants,
        staticRows: false,
        errors: []|unique
    }) }}
</div>


<script type="text/javascript">
    if (document.readyState === "interactive" || document.readyState === "complete") {
        domLoaded();
    } else {
      document.addEventListener("DOMContentLoaded", domLoaded, true);
    }
    function domLoaded(){

        $('#svg-stroke-color').spectrum({
            color: "{{settings.svgStrokeColor}}",
            showInput: true,
            className: "full-spectrum",
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            maxSelectionSize: 10,
            preferredFormat: "hex6",
            localStorageKey: "spectrum.demo",
            clickoutFiresChange: false,
            chooseText: "Apply",
            cancelText: "",
            move: function (color) {

            },
            show: function () {

            },
            beforeShow: function () {

            },
            hide: function () {

            },
            change: function(color) {
                $('#animatedicon-svg-color').val(color.toHexString());
                $('#svg-stroke-color').css('background-color',color.toHexString());
            },
            colorChange: function(color){
                
            },
            palette: [
                ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
                ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    ]
            ]
        });
    }
    
</script>

{% endblock %}

